name: Launch EC2 Instance

on:
  workflow_dispatch:

jobs:
  launch-ec2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Launch EC2 Instance
        run: |
          aws ec2 run-instances \
            --image-id ami-00d8fc944fb171e29 \
            --count 1 \
            --instance-type t3.micro \
            --key-name my-ec2-key \
            --security-group-ids sg-0ba31e59590137371 \
            --subnet-id subnet-038d8be488af8f7d3
